.btn-group {
    text-align: center;
    display: block;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    margin: 20px;
}

.btn,
.btn label {
    cursor: pointer;
}

.btn:hover {
    color: #0066ff;
}

.btn.primary {
    background-color: #0066ff;
}

.error {
    color: #f00;
    text-align: center;
}

*:disabled {
    opacity: 0.7;
}

.box {
    background-color: #fff;
}

.dark .box {
    background-color: #222;
}

.dark .box {
    color: #fff;
}

.dark .box ul li i {
    color: inherit;
}

.dark input.box:focus,
.dark input.box:active,
.dark input.box {
    color: #fff;
    background-color: #222;
    outline: none;
}

.box ul li.active {
    color: #fff;
    background-color: #0066ff;
}

.liked {
    color: #0066ff;
}

.dark .liked {
    color: #0f0;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
}

.dark .spinner {
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #0066ff;
}

.dark button:hover {
    background-color: #111;
}

button:hover {
    background-color: #ccc;
}