.form {
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 2px 4px #222;
}

@media only screen and (max-width: 900px) {
    .form {
        width: 100%;
        border-radius: 0;
        margin: 20px 0;
    }
}

.form-control {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    border: none;
}

.form-control input,
.form-control textarea,
.form-control select {
    padding: 2px 20px;
    border-radius: 2px;
    border: 2px solid #ccc;
}