.navbar {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px 10px #7772;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar ul li * {
    padding: 7px 10px;
    text-decoration: none;
    color: #777;
    font-size: inherit;
}

.navbar ul li {
    cursor: pointer;
}

.dark .navbar {
    box-shadow: 0 0 10px #fff2;
}

.navbar ul li:hover > a span {
    color: #222;
}

.dark .navbar.box ul li:hover > a span {
    color: lawngreen;
}

.dark .navbar ul li * {
    color: #fff;
}

.navbar ul li i {
    font-size: inherit;
    padding: 17px 0;
}

.navbar .selected * {
    color: #005dc7;
}

.dark .navbar.box .selected * {
    color: lawngreen;
}