@media only screen and (max-width: 900px) {
    .single-post {
        max-width: 49%;
        flex-basis: 49%;
    }
}

@media only screen and (max-width: 500px) {
    .single-post {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .navbar,
    .navbar ul {
        display: block;
        padding: 0;
    }
}