@media only screen and (max-width: 600px) {
    .container-row {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .navbar,
    .navbar ul,
    .flex,
    .d-flex {
        display: block;
        padding: 0;
    }
}