@media only screen and (max-width: 600px) {
    .container-row {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .navbar,
    .navbar ul,
    .flex,
    .d-flex,
    .row {
        display: block;
        padding: 0;
    }

    .row .col-md-5,
    .row .col-md-4,
    .row .col-md-3 {
        width: 100%;
        padding: 0;
    }
    
    .chat-window {
        max-width: 100%;
    }

    .chat-window button > span {
        display: none;
    }
}