.navbar {
    padding: 0 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar ul li * {
    padding: 14px 10px;
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li:hover > a span {
    color: #222;
}

.navbar ul li i {
    font-size: 20px;
    padding: 17px 0;
}

.navbar .selected * {
    color: #005dc7;
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .navbar,
    .navbar ul {
        display: block;
        padding: 0;
    }
}